openapi: 3.0.3
info:
  title: "Plataforma de Coleta de Métricas"
  description: |
    # Introdução

    A Plataforma de Coleta de Métricas foi idealizada para contabilizar as interações entre as instituições participantes, de modo a promover um ambiente equitativo e não discriminatório. Se trata de uma Plataforma localizada no perímetro central, gerida pelo regulador do ecossistema.

    ## Motivação

    Para que o ecossistema do Open Finance Brasil seja saudável para instituições e clientes finais, fez-se necessária a criação de uma Plataforma que deverá concentrar dados sobre as chamadas que as instituições fazem umas às outras. Dessa forma, permite-se coletar informações visando criar métricas e indicadores a fim de se ter visibilidade sobre todo o ambiente.

    No intuito de manter a integridade e consistência nos dados, o envio destes pelas instituições deverá passar por um processo de conciliação. Quando divergente, as instituições serão notificadas e terão a possibilidade de ajustar os reportes, o que promove um ambiente saudável de autorregulação, prevenindo assim uma disputa.

    ## O que a Plataforma não é

    A Plataforma recebe os dados de maneira póstuma, ou seja, dentro do período de fechamento, mas após a chamada concreta ter sido feita. Dada essa natureza, a Plataforma não pode atuar como um agente que proíbe, bloqueia ou interfere nas interações entre as instituições.

    Por mais que concentre informações importantes das chamadas entre as instituições, a Plataforma não é uma ferramenta de BI, e o controle de acesso aos dados é feito em diferentes níveis (participante, regulador e administrador).

    ## Premissas Técnicas

    * Tanto o envio por parte dos participantes quanto o processamento por parte da Plataforma serão feitos de maneira assíncrona;

    ## Terminologia

    * **Server e Client**: em uma interação, a parte que solicita os dados é chamada de _client_, ao passo que a parte que devolve os dados é o _server_. O ponto de vista para o uso dessa terminologia é o tráfego dos dados da transação e não o ponto de partida da chamada. Portanto, supondo que A faça uma consulta em B pelos dados de uma conta, esses dados vão ser transmitidos por quem recebeu a solicitação, e recebidos por quem a fez, nesse caso, "A" é o Client e "B" é o Server.

    * **Reporte**: no contexto da API de Coleta de Métricas, um _reporte_ é o registro da chamada que será enviado tanto pelo server quanto pelo client. Esse registro será armazenado na Plataforma para posterior processo de conciliação de chamadas e extração de dados estatísticos.

    * **Divergência**: Quando Server e Client enviam reportes, cada um destes reportes se refere a uma chamada em específico. Nos casos em que uma das partes não envia o reporte sobre essa chamada em específico, é caracterizada uma divergência. As divergências podem ser resolvidas pela chamada às operações de modificação de reportes em suas respectivas APIs. Uma divergência é considerada fechada apenas quando todos os reportes encontram sua respectiva correspondência do outro lado da chamada.


    Para informações detalhadas sobre a PCM, consulte o [site da documentação da Plataforma](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/17378055/Plataforma+de+Coleta+de+M+tricas).

  version: 2.1.2
  contact:
    name: Governança Open Finance Brasil
  license:
    name: Licença Proprietária (uso interno restrito)

security:
  - PCMAccessToken: []

servers:
  - url: https://api.pcm.sandbox.openfinancebrasil.org.br
    description: UAT
  - url: https://api.pcm.openfinancebrasil.org.br
    description: Produção

tags:
  - name: Private API
    description: |
      A Private API fornece operações que permitem a inclusão dos reportes que representam transações entre participantes do ecossistema do Open Finance.
  - name: Opendata API
    description: |
      A Opendata API fornece operações que permitem a inclusão dos reportes cujas chamadas foram feitas nas API de dados abertos do Open Finance o qual não sofrem processo de conciliação.
  - name: Hybrid Flow API
    description: |
      Oferece operações que permitem a inclusão de reportes relativos à jornada de autorização de consentimento. Os reportes podem ser feitos até às 08h00 de D+1 da data da ocorrência e não precisam ser enviados em ordem.

      [Ver diagrama de sequência](https://github.com/OpenBanking-Brasil/specs-pcm/blob/feature/PCM-122/openapi/hybrid-flow-diagram.svg?raw=true)
      
      [Ver fluxograma de envio de reports](https://raw.githubusercontent.com/OpenBanking-Brasil/specs-pcm/feature/PCM-122/openapi/Diagrama%20API%20PCM%20Hybrid%20Flow_v3.drawio.svg)
  - name: "Consents API"
    description: |
      API dedicada para obtenção de estoque de consentimento, à partir do auto reporte das instituições, com endpoint único para os papeis Client/Server.

paths:
  "/report-api/v1/private/report":
    post:
      tags:
        - Private API
      summary: Inclusão de reportes
      description: |
        Inclusão de reportes na plataforma. Ao enviar um lote de reportes, a plataforma vai fazer o processo de validação de cada reporte de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso **todos** dos reportes enviados forem aceitos. Caso pelo menos 1 reporte esteja inconsistente, o status de retorno será 207 - veja documentação de cada status de retorno para mais informações. 

        Os dados inseridos na API de Reporte são sempre processados de maneira assíncrona, e sua persistência se utiliza de consistência posterior (eventual consistency), portanto, um registro tem um tempo de processamento em que ele não estará disponível para consulta até que ele seja persistido.

        O limite de reportes de cada envio de lote é de 5.000 entradas no array.
      operationId: add-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                oneOf:
                  - $ref: "#/components/schemas/ClientReportRequest"
                  - $ref: "#/components/schemas/ServerReportRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - timestamp: "2021-11-11T18:08:08.894Z"
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "f0b5419b-2b5f-4f59-9862-6d2a8e23be26"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    correlationId: "wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf"
                    processTimespan: 120
                    endpointUriPrefix: "https://ofin.bank.com/"
                    role: CLIENT
                    additionalInfo:
                      personType: "PF"
                      consentId: "uri:bank:d1541b17-3175-477d-a52b-2813ae2c4c36"
                  - timestamp: "2021-11-11T19:22:10.334Z"
                    fapiInteractionId: "0786fce3-a36f-43f8-b66a-d26ab1dfc639"
                    clientSSId: "f0b5419b-2b5f-4f59-9862-6d2a8e23be26"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    correlationId: "8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j"
                    processTimespan: 117
                    endpointUriPrefix: "https://ofin.bank.com/"
                    role: CLIENT
                    additionalInfo:
                      personType: "PF"
                      consentId: "uri:bank:d1541b17-3175-477d-a52b-2813ae2c4c36"
                  - timestamp: "2021-11-11T19:41:41.811Z"
                    fapiInteractionId: "d1541b17-3175-477d-a52b-2813ae2c4c36"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 125
                    role: SERVER
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf
                      status: ACCEPTED
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      correlationId: 8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      correlationId: 8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-to-server":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o servidor (papel client)
      description: |
        Inclusão do report de início de redirecionamento de um usuário do receptor/iniciador para a transmissora/detentora. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o report enviado seja aceito. Caso seja obtido um status HTTP diferente, a integração deve ser corrigida. Observe no response body o detalhamento do erro e corrija a implementação.
      operationId: add-reports-client-redirect-to-server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowClientRedirectToServerReportRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/redirect-target":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o destino (papel server)
      description: |
        Inclusão de report de chegada de usuário em sistema da transmissora/detentora para autenticação. Deve ser enviado antes da autenticação do usuário. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.

      operationId: add-reports-server-redirect-target
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetReportRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde o registro enviado foi validado e será validado. Se o registro contiver problemas de validação.
            A operação vai devolver um objeto com resultado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"

        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/authenticated":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de autenticação (papel server)
      description: |
        Inclusão de report de que o usuário está apto a prosseguir com a autorização do consentimento. Deverá ser enviado após o usuário se autenticar/entrar na área autenticada e antes de autorizar o consentimento. É ESSENCIAL A LEITURA DO DIAGRAMA DE SEQUÊNCIA PARA O ENTENDIMENTO DE COMO DEVE SER FEITO O REPORTE. Ao enviar um reporte, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-server-authenticated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerAuthenticatedRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/redirect-to-client":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o cliente (papel server)
      description: |
        Inclusão de report de redirecionamento do usuário de volta para receptora/iniciadora. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-server-redirect-to-client
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectToClientRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-target-with-errors":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento com erro para o destino (papel client)
      description: |
        Inclusão do report de retorno do usuário pelo Hybrid Flow contendo o código de erro. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-client-redirect-target-with-errors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetWithErrorsRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-target-without-errors":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento sem erro para o destino (papel client)
      description: |
        Inclusão de report de retorno de usuário pelo Hybrid Flow com sucesso. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-client-redirect-target-without-errors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetWithoutErrorsRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/private/report/{fapiInteractionId}":
    get:
      tags:
        - Private API
      summary: Consulta um report em específico usando um identificador
      description: |
        Operação que permite a consulta de um reporte em específico mediante um identificador. A busca por reportes estará sempre no contexto do usuário representado pelo token de acesso, ou seja, o _participante_ só terá acesso a reportes em que instituição que ele pertence é parte, seja como client ou como server.

        O processamento do registro ocorre de maneira assíncrona, o que pode gerar um cenário de consistência eventual: caso a consulta seja feita imediatamente após a inclusão, é possível que o registro ainda não esteja disponível para consulta.
      operationId: private-fapi-interaction-id
      parameters:
        - name: fapiInteractionId
          description: Identificador do reporte que está sendo consultado
          in: path
          required: true
          schema:
            type: string
            pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
            maxLength: 100
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportModel"
        "404":
          description: O registro com o identificador informado não foi encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"
    
  "/report-api/v1/opendata/report":
    post:
      tags:
        - Opendata API
      summary: Inclusão de reportes
      description: |

        Inclusão de reportes de dados abertos na plataforma. Ao enviar um lote de reportes, a plataforma vai fazer o processo de validação sintática de cada reporte de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso **todos** dos reportes enviados forem aceitos. Caso pelo menos 1 reporte esteja inconsistente, o status de retorno será 207 - veja documentação de cada status de retorno para mais informações. 

        Os dados inseridos na API de Reporte são sempre processados de maneira assíncrona, e sua persistência se utiliza de consistência posterior (eventual consistency), portanto, um registro tem um tempo de processamento em que ele não estará disponível para consulta até que ele seja persistido.

        O limite de registros de cada lote é de 5.000 registros.
      operationId: add-opendata-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                $ref: "#/components/schemas/OpendataReportRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - timestamp: "2021-11-11T18:08:08.468Z"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 120
                    additionalInfo:
                      clientIp: 192.168.10.10
                  - timestamp: "2021-11-11T19:22:10.396Z"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 117
                    additionalInfo:
                      clientIp: 192.168.10.11
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Todos registros que chegarem com o atributo _correlationId_ o receberão de volta. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da solicitação está correto, mas que entradas do array da solicitação contém erro de validação em pelo menos uma entrada. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'uri'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados com algum campo faltante. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'uri'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'additionalInfo'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'httpMethod'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação, ou o tamanho do payload excede o limite configurado no servidor http.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/consents/stock":
    post:
      tags:
        - Consents API
      summary: Gerencia informações referentes ao estoque de consentimentos ativos
      description: |
        API dedicada à obtenção de estoque de consentimentos, a partir do autorreporte das instituições, com endpoint único para os papeis Client/Server. Registra a quantidade total de estoque de consentimentos ativos até a data de referência, assegurando que a quantidade de consentimentos únicos para PF/PJ não exceda a quantidade de consentimentos ativos. Deve-se garantir o envio diários dos dados relativos a uma data de referência até 08h00 do dia seguinte. 
      operationId: add-consents-reports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentStockRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  date: "2021-11-11"
                  orgId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                  role: CLIENT
                  scope: "DADOS"
                  totalCustomerPF: 10
                  totalCustomerPJ: 10
                  consentsStockList: 
                    - clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                      serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                      totalActiveConsents: 222
                    - clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                      serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                      totalActiveConsents: 223
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: DISCARDED
                    message: "Invalid field value, httpMethod: httpMethod must be in enum"
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/credit-portabilities/client":
    post:
      tags:
        - Credit Portability API
      summary: "Inclusão de reports de portabilidade para client"
      description: |
        Valida se já existe um pedido de portabilidade de crédito para o contrato solicitado pelo trilho do OFB ou da Registradora.
      operationId: add-portability-client-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                $ref: "#/components/schemas/CreditPortabilityClientRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - timestamp: "2021-11-11T18:08:08.278Z" 
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "ca0d518b-0e95-42d4-9fc8-0598ff9023af"
                    clientOrgId: "e6e7c657-4d6d-46d9-a78b-76cc02495cf5"
                    serverOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    statusCode: 200
                    httpMethod: POST
                    correlationId: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
                    processTimespan: 120
                    endpointUriPrefix: "https://openbanking.instituicao-1.com.br/opbk"
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    creationDateTime: "2020-07-21T08:30:00Z"
                    creditPortabilityStatus: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELLED"
                    rejectedBy: "PROPONENTE"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
                  - timestamp: "2021-11-11T18:08:08.278Z" 
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "ca0d518b-0e95-42d4-9fc8-0598ff9023af"
                    clientOrgId: "e6e7c657-4d6d-46d9-a78b-76cc02495cf5"
                    serverOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    statusCode: 200
                    httpMethod: POST
                    correlationId: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
                    processTimespan: 120
                    endpointUriPrefix: "https://openbanking.instituicao-1.com.br/opbk"
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    creationDateTime: "2020-07-21T08:30:00Z"
                    creditPortabilityStatus: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELLED"
                    rejectedBy: "PROPONENTE"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
                  - timestamp: "2021-11-11T18:08:08.278Z" 
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "ca0d518b-0e95-42d4-9fc8-0598ff9023af"
                    clientOrgId: "e6e7c657-4d6d-46d9-a78b-76cc02495cf5"
                    serverOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    statusCode: 200
                    httpMethod: POST
                    correlationId: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
                    processTimespan: 120
                    endpointUriPrefix: "https://openbanking.instituicao-1.com.br/opbk"
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    creationDateTime: "2020-07-21T08:30:00Z"
                    creditPortabilityStatus: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELLED"
                    rejectedBy: "PROPONENTE"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
                  - timestamp: "2021-11-11T18:08:08.278Z" 
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "ca0d518b-0e95-42d4-9fc8-0598ff9023af"
                    clientOrgId: "e6e7c657-4d6d-46d9-a78b-76cc02495cf5"
                    serverOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    statusCode: 200
                    httpMethod: POST
                    correlationId: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
                    processTimespan: 120
                    endpointUriPrefix: "https://openbanking.instituicao-1.com.br/opbk"
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    creationDateTime: "2020-07-21T08:30:00Z"
                    creditPortabilityStatus: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELLED"
                    rejectedBy: "PROPONENTE"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"

      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "fapiInteractionId must be a UUID"
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      correlationId: 8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/credit-portabilities/{fapiInteractionId}":
    get:
      tags:
        - Credit Portability API
      summary: Consulta um report em específico usando um identificador
      description: |
        Operação que permite a consulta de um reporte em específico mediante um identificador. A busca por reportes estará sempre no contexto do usuário representado pelo token de acesso, ou seja, o _participante_ só terá acesso a reportes em que instituição que ele pertence é parte, seja como client ou como server.

        O processamento do registro ocorre de maneira assíncrona, o que pode gerar um cenário de consistência eventual: caso a consulta seja feita imediatamente após a inclusão, é possível que o registro ainda não esteja disponível para consulta.
      operationId: report-by-id
      parameters:
        - name: fapiInteractionId
          description: Identificador do reporte que está sendo consultado
          in: path
          required: true
          schema:
            type: string
            pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
            maxLength: 100
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditPortabilityReportModel"
        "404":
          description: O registro com o identificador informado não foi encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/credit-portabilities/server":
    post:
      tags:
        - Credit Portability API
      summary: "Inclusão de reports de portabilidade para server"
      description: |
        Valida se já existe um pedido de portabilidade de crédito para o contrato solicitado pelo trilho do OFB ou da Registradora.
      operationId: add-portability-server-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/CreditPortabilityServerRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    httpMethod: POST
                    statusCode: 200
                    creditPortabilityStatus: "PENDING"
                    timestamp: "2021-11-11T18:08:08.894Z" 
                    processTimespan: 120
                    clientOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    serverOrgId: "5ec47c83-9010-4540-91ad-b820ef0df04a"                  
                    status: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELED"
                    rejectedBy: "CREDORA"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
                  - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    creditPortabilityStatus: "PENDING"
                    httpMethod: POST
                    statusCode: 200
                    timestamp: "2021-11-11T18:08:08.894Z" 
                    processTimespan: 120
                    clientOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    serverOrgId: "5ec47c83-9010-4540-91ad-b820ef0df04a"                   
                    status: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELED"
                    rejectedBy: "CREDORA"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
                  - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    endpoint: "/credit-operations/{contractId}/portability-eligibility"
                    creditPortabilityStatus: "PENDING"
                    httpMethod: POST
                    statusCode: 200
                    timestamp: "2021-11-11T18:08:08.894Z" 
                    processTimespan: 120
                    clientOrgId: "c3779651-c918-48b1-b1fb-e36ba76cb036"
                    serverOrgId: "5ec47c83-9010-4540-91ad-b820ef0df04a"                      
                    status: "PENDING"
                    statusUpdateDateTime: "2020-07-21T08:30:00Z"
                    rejectionReason: "CANCELED"
                    rejectedBy: "CREDORA"
                    consentId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                    errorCode: "400"
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Invalid field value, fapiInteractionId: fapiInteractionId must be a UUID"
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/payments/status":
    post:
      tags:
        - PaymentStatus API
      summary: "Inclusão de reports de payment status"
      description: |
       
      operationId: add-payment-status
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PaymentStatusRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    eventDateTime: 2025-09-15T00:00:00.123Z
                    paymentId: ae7b4945-5b5a-4b98-915f-712ea82b94i0
                    consentId: teste
                    paymentStatus: ACSC
                    statusReasonCode: teste
                    paymentType: SWEEPING
                    clientOrgId: fa75a77a-85c4-4cb4-a697-015af4be2b8b
                  - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    eventDateTime: 2025-09-15T00:00:00.123Z
                    paymentId: ae7b4945-5b5a-4b98-915f-712ea82b94i0
                    consentId: teste
                    paymentStatus: RJCT
                    statusReasonCode: teste
                    paymentType: SWEEPING
                    clientOrgId: fa75a77a-85c4-4cb4-a697-015af4be2b8b

      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/PaymentStatusResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/PaymentStatusResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Invalid field value, paymentId: paymentId can't be empty"
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _paymentId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      paymentId: f9c8d5e5-3f91-4f2b-b36b-f79357197ddc
                      status: DISCARDED
                      message: "Missing fields: 'paymentType'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      paymentId: 3ffed609-8a5c-40a3-9fcb-1817133b3d99
                      status: DISCARDED
                      message: "Missing fields: 'paymentStatus'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      paymentId: ""
                      status: DISCARDED
                      message: "Missing fields: 'paymentId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      paymentId: c270d2fb-092a-428c-acd6-eea9e0cc4b24,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/payments/status/{paymentId}":
    get:
      tags:
        - PaymentStatus API
      summary: Consulta um pagamento em específico usando um identificador
      description: |
        Operação que permite a consulta de um reporte em específico mediante um identificador. A busca por pagamentos estará sempre no contexto do usuário representado pelo token de acesso, ou seja, o _participante_ só terá acesso a reportes em que instituição que ele pertence é parte.

        O processamento do registro ocorre de maneira assíncrona, o que pode gerar um cenário de consistência eventual: caso a consulta seja feita imediatamente após a inclusão, é possível que o registro ainda não esteja disponível para consulta.
      operationId: payment-status-payment-id
      parameters:
        - name: paymentId
          description: Identificador do pagamento que está sendo consultado
          in: path
          required: true
          schema:
            type: string
            pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
            maxLength: 100
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentStatusModel"
        "404":
          description: O registro com o identificador informado não foi encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/mqd/report":
    post:
      tags:
        - MQD API
      summary: Envio de métricas de qualidade de dados trafegados
      description: |
        Endpoint para envio de métricas referentes a qualidade de dados trafegados, incluindo informações de performance, configuração e status da aplicação. 
      operationId: submit-metrics-report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsReportRequest"
            examples:
              "Request Válido":
                description: Exemplo de request com todas as métricas de runtime e configuração
                value:
                  Metrics:
                    Values:
                      - Key: "runtime.ReportStartDate"
                        Value: "2025-10-06 21:38:21.07479349 +0000 UTC m=+112296.776179299"
                      - Key: "runtime.ReportEndDate"
                        Value: "2025-10-06 21:49:26.701042329 +0000 UTC m=+112962.402428137"
                      - Key: "runtime.BadRequestErrors"
                        Value: "0"
                      - Key: "runtime.TotalRequests"
                        Value: "10145"
                      - Key: "runtime.MemoryUsageAvg"
                        Value: "5.92 MB"
                      - Key: "runtime.MemoryUsageMax"
                        Value: "1548168.67 MB"
                      - Key: "runtime.CPUNumber"
                        Value: "12"
                      - Key: "runtime.ResponseTimeAvg"
                        Value: "105"
                      - Key: "runtime.ReportGenerationTime"
                        Value: "1.619146ms"
                  ApplicationConfiguration:
                    ApplicationVersion: "2.3.0"
                    Environment: "PRD"
                    ConfigurationUpdateStatus:
                      ConfigurationVersion: "1.0.14"
                      LastExecutionDate: "2025-10-06T18:26:59.28462667Z"
                      LastUpdatedDate: "2025-10-05T14:26:44.315508872Z"
                      ConfigurationUpdateError: null
                    ReportExecutionWindow: "60"
                    ReportExecutionNumber: "10000"
                    ApplicationMode: "TRANSMITTER"
                    ApplicationID: "a66486eb-422d-4b1e-8618-10e27156faa3"
                  ClientID: "deb4f782-7a01-45a2-9e90-9417e5485a03"
                  DataOwnerID: "deb4f782-7a01-45a2-9e90-9417e5485a03"
                  UnsupportedEndpoints: null
                  ServerSummary:
                    - ServerID: "deb4f782-7a01-45a2-9e90-9417e5485a03"
                      TotalRequests: 10061
                      EndpointSummary:
                        - EndpointName: "/funds/v1/investments/{investmentId}/balances"
                          TotalRequests: 649
                          ValidationErrors: 0
                          Detail: null
                        - EndpointName: "/credit-cards-accounts/v2/accounts/{creditCardAccountId}/limits"
                          TotalRequests: 297
                          ValidationErrors: 21
                          Detail:
                            - Field: "data"
                              Details:
                                - ErrorType: "identificationNumber is required"
                                  XFapiList:
                                    - "a0a909ef-28f5-4a13-af23-6efb3f1a6e4e"
                                    - "9c06fdaa-2c3f-4faa-8ab4-881b788e8fb0"
                                  TotalCount: 62
      responses:
        "200":
          description: |
            Métricas recebidas e processadas com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsReportResponse"
              examples:
                "Sucesso":
                  value:
                    reportId: "550e8400-e29b-41d4-a716-446655440000"
                    status: "ACCEPTED"
        "400":
          description: Formato do corpo da requisição inválido ou campos obrigatórios ausentes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format or missing required fields"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/mqd/settings/{proxy+}":
    get:
      tags:
        - MQD API
      summary: Obtenção de configurações das especificações de APIs
      description: |
        Endpoint dinâmico para obtenção de todos os diferentes tipos de especificações de APIs.
        
        ## Tipos de Configuração Disponíveis:
        
        ### 1. Configuração Geral
        **Endpoint:** `/report-api/v2/mqd/settings/configurationSettings.json`
        
        Retorna a lista de todas as APIs disponíveis, suas versões, caminhos base e configurações de validação associadas.
        
        ### 2. Configurações Específicas por API
        **Padrão:** `/report-api/v2/mqd/settings/{group}/{api}/{version}/response/endpoints.json`
        
        **Exemplos:**
        - `/report-api/v2/mqd/settings/DC/consents/3.2.0/response/endpoints.json` - Especificação da API de Consentimentos v3.2.0
        - `/report-api/v2/mqd/settings/DC/accounts/2.4.2/response/endpoints.json` - Especificação da API de Contas v2.4.2
        - `/report-api/v2/mqd/settings/PC/credit-portability/1.0.0/response/endpoints.json` - Especificação da API de Portabilidade de Crédito v1.0.0
        
        **Parâmetros do padrão:**
        - `{group}`: Grupo da API (DC = Dados do Cliente, PC = Portabilidade de Crédito)
        - `{api}`: Nome da API (consents, accounts, loans, etc.)
        - `{version}`: Versão da API (ex: 3.2.0, 2.4.2)
        
        ### 3. APIs Disponíveis por Grupo
        
        **Dados do Cliente (DC):**
        - consents, resources, customers
        - credit-cards-accounts, accounts, loans
        - financings, unarranged-accounts-overdraft
        - invoice-financings, credit-fixed-incomes
        - bank-fixed-incomes, variable-incomes
        - treasure-titles, funds, exchanges
        
        **Portabilidade de Crédito (PC):**
        - credit-portability
      operationId: get-configuration-settings
      parameters:
        - name: proxy+
          in: path
          required: true
          schema:
            type: string
          description: |
            Caminho dinâmico para diferentes tipos de configuração.
            
            **Exemplos válidos:**
            - `configurationSettings.json` - Configuração geral
            - `DC/consents/3.2.0/response/endpoints.json` - Especificação da API de Consentimentos
            - `PC/credit-portability/1.0.0/response/endpoints.json` - Especificação da API de Portabilidade de Crédito
          examples:
            geral:
              value: "configurationSettings.json"
              summary: "Configuração geral do sistema"
            api_especifica:
              value: "DC/consents/3.2.0/response/endpoints.json"
              summary: "Especificação da API de Consentimentos"
            validacao:
              value: "PC/credit-portability/1.0.0/response/endpoints.json"
              summary: "Especificação da API de Portabilidade de Crédito"
      responses:
        "200":
          description: |
            Configurações obtidas com sucesso. O formato da resposta varia conforme o tipo de configuração solicitada.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ConfigurationSettings"
                  - $ref: "#/components/schemas/APISpecificationConfig"
                discriminator:
                  propertyName: type
              examples:
                "Configuração Geral":
                  summary: "Resposta para /settings/configurationSettings.json"
                  value:
                    Version: "1.0.15"
                    ValidationSettings:
                      APIGroupSettings:
                        - group: "Dados Abertos"
                          base_path: "ParameterData//DA"
                          api_list:
                            - api: "Títulos de Capitalização"
                              base_path: "capitalization-bonds"
                              version: "1.0.1"
                              endpoint_base: "/opendata-capitalization/v1"
                            - api: "Investimentos"
                              base_path: "investments"
                              version: "1.0.0"
                              endpoint_base: "/opendata-investments/v1"
                        - group: "Dados do Cliente"
                          base_path: "ParameterData//DC"
                          api_list:
                            - api: "Consentimento"
                              base_path: "consents"
                              version: "3.2.0"
                              endpoint_base: "/consents/v3"
                            - api: "Contas"
                              base_path: "accounts"
                              version: "2.4.2"
                              endpoint_base: "/accounts/v2"
                      TransmitterValidationRate: 100
                      ReceiverValidationRate: 100
                      ExtremelyHighTroughputValidationRate: 100
                      HighTroughputValidationRate: 100
                      MediumTroughputValidationRate: 100
                      LowTroughputValidationRate: 100
                      VeryLowTroughputValidationRate: 100
                    ReportSettings:
                      ReportExecutionWindow: 30
                      SendOnReportNumber: 50000
                    SecuritySettings:
                      AttributesToMask:
                        - "Attribute1"
                "Configuração Específica":
                  summary: "Resposta para /settings/DC/consents/3.2.0/response/endpoints.json"
                  value:
                    type: "api_specification"
                    group: "DC"
                    api: "consents"
                    version: "3.2.0"
                    config_type: "response"
                    endpoints:
                      - endpoint: "/consents/{consentId}"
                        header_validation_rules: ""
                        body_validation_rules: ""
                        header_schema: ""
                        body_schema: >
                          {"properties":{"data":{"properties":{"consentId":{"description":"O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name. Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme \"urn\" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização. Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos: - o namespace(urn) - o identificador associado ao namespace da instituição transnmissora (bancoex) - o identificador específico dentro do namespace (C1DD33123). Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).","example":"urn:bancoex:C1DD33123","maxLength":256,"pattern":"^urn:[a-zA-Z0-9][a-zA-Z0-9-]{0,31}:[a-zA-Z0-9()+,\\-.:=@;$_!*'%/?#]+$","type":"string"},"creationDateTime":{"description":"Data e hora em que o recurso foi criado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"pattern":"^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$","type":"string"},"expirationDateTime":{"description":"Data e hora de expiração da permissão. Reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format). [Restrição] De preenchimento obrigatório nos casos em que houver validade determinada. Em casos de consentimento com prazo indeterminado o campo não deve ser preenchido.","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"pattern":"^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$","type":"string"},"permissions":{"description":"Especifica os tipos de permissões de acesso às APIs no escopo do Open Finance Brasil - Dados cadastrais e transacionais, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs. Esse array não deve ter duplicidade de itens.","example":["ACCOUNTS_READ","ACCOUNTS_OVERDRAFT_LIMITS_READ","RESOURCES_READ"],"items":{"enum":["ACCOUNTS_READ","ACCOUNTS_BALANCES_READ","ACCOUNTS_TRANSACTIONS_READ","ACCOUNTS_OVERDRAFT_LIMITS_READ","CREDIT_CARDS_ACCOUNTS_READ","CREDIT_CARDS_ACCOUNTS_BILLS_READ","CREDIT_CARDS_ACCOUNTS_BILLS_TRANSACTIONS_READ","CREDIT_CARDS_ACCOUNTS_LIMITS_READ","CREDIT_CARDS_ACCOUNTS_TRANSACTIONS_READ","CUSTOMERS_PERSONAL_IDENTIFICATIONS_READ","CUSTOMERS_PERSONAL_ADITTIONALINFO_READ","CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ","CUSTOMERS_BUSINESS_ADITTIONALINFO_READ","FINANCINGS_READ","FINANCINGS_SCHEDULED_INSTALMENTS_READ","FINANCINGS_PAYMENTS_READ","FINANCINGS_WARRANTIES_READ","INVOICE_FINANCINGS_READ","INVOICE_FINANCINGS_SCHEDULED_INSTALMENTS_READ","INVOICE_FINANCINGS_PAYMENTS_READ","INVOICE_FINANCINGS_WARRANTIES_READ","LOANS_READ","LOANS_SCHEDULED_INSTALMENTS_READ","LOANS_PAYMENTS_READ","LOANS_WARRANTIES_READ","UNARRANGED_ACCOUNTS_OVERDRAFT_READ","UNARRANGED_ACCOUNTS_OVERDRAFT_SCHEDULED_INSTALMENTS_READ","UNARRANGED_ACCOUNTS_OVERDRAFT_PAYMENTS_READ","UNARRANGED_ACCOUNTS_OVERDRAFT_WARRANTIES_READ","RESOURCES_READ","BANK_FIXED_INCOMES_READ","CREDIT_FIXED_INCOMES_READ","FUNDS_READ","VARIABLE_INCOMES_READ","TREASURE_TITLES_READ","EXCHANGES_READ"],"type":"string"},"minItems":1,"type":"array"},"rejection":{"description":"Objeto a ser retornado caso o consentimento seja rejeitado.","properties":{"reason":{"description":"Define a razão pela qual o consentimento foi rejeitado.","properties":{"additionalInformation":{"description":"Contém informações adicionais a critério da transmissora.","example":"Tempo de confirmação da múltipla alçada excedido.","maxLength":140,"pattern":"^[^\\s](.*[^\\s])?$","type":"string"},"code":{"description":"Define o código da razão pela qual o consentimento foi rejeitado. - CONSENT_EXPIRED – consentimento que ultrapassou o tempo limite para autorização. - CUSTOMER_MANUALLY_REJECTED – cliente efetuou a rejeição do consentimento manualmente através de interação nas instituições participantes. - CUSTOMER_MANUALLY_REVOKED – cliente efetuou a revogação após a autorização do consentimento. - CONSENT_MAX_DATE_REACHED – consentimento que ultrapassou o tempo limite de compartilhamento. - CONSENT_TECHNICAL_ISSUE – consentimento que foi rejeitado devido a um problema técnico que impossibilita seu uso pela instituição receptora, por exemplo: falha associada a troca do AuthCode pelo AccessToken, durante o processo de Hybrid Flow. - INTERNAL_SECURITY_REASON – consentimento que foi rejeitado devido as políticas de segurança aplicada pela instituição transmissora.","enum":["CONSENT_EXPIRED","CUSTOMER_MANUALLY_REJECTED","CUSTOMER_MANUALLY_REVOKED","CONSENT_MAX_DATE_REACHED","CONSENT_TECHNICAL_ISSUE","INTERNAL_SECURITY_REASON"],"example":"CONSENT_EXPIRED","type":"string"}},"required":["code"],"type":"object"},"rejectedBy":{"description":"Informar usuário responsável pela rejeição. 1. USER usuário 2. ASPSP instituição transmissora 3. TPP instituição receptora","enum":["USER","ASPSP","TPP"],"example":"USER","type":"string"}},"required":["rejectedBy","reason"],"type":"object"},"status":{"description":"Estado atual do consentimento cadastrado.","enum":["AUTHORISED","AWAITING_AUTHORISATION","REJECTED"],"example":"AWAITING_AUTHORISATION","type":"string"},"statusUpdateDateTime":{"description":"Data e hora em que o recurso foi atualizado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"pattern":"^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$","type":"string"}},"required":["consentId","creationDateTime","status","statusUpdateDateTime","permissions"],"type":"object","x-regulatory-required":["permissions","expirationDateTime​"]},"links":{"description":"Referências para outros recusos da API requisitada.","properties":{"self":{"description":"URI completo que gerou a resposta atual.","example":"https://api.banco.com.br/open-banking/api/v1/resource","format":"uri","maxLength":2000,"pattern":"^(https://)?)(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)$","type":"string"}},"required":["self"],"type":"object"},"meta":{"description":"Meta informações referente à API requisitada.","properties":{"requestDateTime":{"description":"Data e hora da consulta, conforme especificação RFC-3339, formato UTC.","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"type":"string"}},"required":["requestDateTime"],"type":"object"}},"required":["data"],"type":"object"}
                        throughput: "EXTREMELY_HIGH"
                      - endpoint: "/consents/{consentId}/extensions"
                        header_validation_rules: ""
                        body_validation_rules: ""
                        header_schema: ""
                        body_schema: >
                          {"properties":{"data":{"items":{"properties":{"expirationDateTime":{"description":"Data e hora de expiração da permissão. Reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format), utilizado apenas para consulta de alterações históricas de extensão do consentimento. [Restrição] De preenchimento obrigatório nos casos em que houver validade determinada. Em casos de consentimento com prazo indeterminada o campo não deve ser preenchido.","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"pattern":"(^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$)","type":"string"},"loggedUser":{"description":"Usuário (pessoa natural) que encontra-se logado na instituição receptora e que iniciará o processo de consentimento para compartilhamento de dados. Deve ser armazenado como novo usuário logado responsável pela renovação do consentimento atual.","properties":{"document":{"properties":{"identification":{"description":"Número do documento de identificação oficial do usuário.","example":"11111111111","maxLength":11,"pattern":"^\\d{11}$","type":"string"},"rel":{"description":"Tipo do documento de identificação oficial do usuário.","example":"CPF","maxLength":3,"pattern":"^[A-Z]{3}$","type":"string"}},"required":["identification","rel"],"type":"object"}},"required":["document"],"type":"object"},"previousExpirationDateTime":{"description":"Data e hora de expiração anteriores a renovação. Reflete a data limite anterior de validade do consentimento. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC (UTC time format). [Restrição] De preenchimento obrigatório nos casos em que houver validade determinada. Em casos de consentimento com prazo indeterminado, ou renovações feitas com a v2.2.0 em que não exista persistência dessa informação, o campo não deve ser preenchido.","example":"2023-10-18T18:30:00Z","format":"date-time","maxLength":20,"pattern":"(^(\\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\\d|2[0123]):(?:[012345]\\d):(?:[012345]\\d)Z$)","type":"string"},"requestDateTime":{"description":"Data e hora em que o recurso foi criado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).","example":"2021-05-21T08:30:00Z","format":"date-time","maxLength":20,"type":"string"},"xCustomerUserAgent":{"description":"Indica o user-agent que o usuário utilizou quando solicitou a renovação sem redirecionamento. [Restrição] De preenchimento obrigatório a partir da v3.0.0. Opcional para renovações feitas com a v2.2.0 quando não existir persistência dessa informação.","example":"Mozilla/5.0 (iPhone14,6; U; CPU iPhone OS 15_4 like Mac OS X)","maxLength":100,"minLength":1,"pattern":"^[^\\s](.*[^\\s])?$","type":"string"},"xFapiCustomerIpAddress":{"description":"O endereço IP do usuário logado com o receptor que solicitou a renovação sem redirecionamento. [Restrição] De preenchimento obrigatório a partir da v3.0.0. Opcional para renovações feitas com a v2.2.0 quando não existir persistência dessa informação.","example":"172.217.22.14","maxLength":100,"minLength":1,"pattern":"^[^\\s](.*[^\\s])?$","type":"string"}},"required":["loggedUser","requestDateTime"],"type":"object"},"type":"array"},"links":{"description":"Referências para outros recusos da API requisitada.","properties":{"first":{"description":"URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta","example":"https://api.banco.com.br/open-banking/api/v1/resource","format":"uri","maxLength":2000,"pattern":"^(https://)?)(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)$","type":"string"},"last":{"description":"URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a últ
[...]
